.DS_Store
debug.log
wp-content/uploads/wc-logs/fatal-errors-2023-06-26-aef0b250adcda54dfec589f2a2301823.log
wp-content/uploads/wc-logs/fatal-errors-2023-06-29-aef0b250adcda54dfec589f2a2301823.log
wp-content/debug.log
